body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    background-color: #e3f1f8;
}

header {
    background-color: #008ecf;
    background-size: cover;
    color: whitesmoke;
    height: 70vh;
}
nav {
    font-size: large;
    background-color: #09263c;
    display: flex;
    justify-content: flex-end;
}
.anchor {
    color: whitesmoke;
    text-decoration: none;
    padding: 2%;
}
.anchor:hover {
    background-color: #008ecf;
}

#main-heading {
    margin-top: 30vh;
    margin-left: 10vw;
}

.heading {
    text-align: center;
}

#about {
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

.container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    border: 8px solid #008ecf;
    border-radius: 50%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.biography {
    flex-direction: column;
}

#about-me {
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
}

.screenshot {
    margin: 0.5%;
    padding: 2%;
    width: 40%;
    background-color: white;
    font-size: large;
    text-align: center;
}

#contacts {
    margin: 10vh;
    text-align: center;
}

footer {
    padding: 2vh;
    background-color: #09263c;
    color: whitesmoke;
    text-align: center;
}

#footer-up {
    font-size: x-large;
}